<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Beautesoft Appointment Created</title>
    <style type="text/css">
	@media(max-width:650px){
		.sem-h2{ margin:5% 0 !important; }
		.contentEditable p{font-size: 14px !important; line-height: 20px !important;}
		.footer{font-size: 11px;}
		}

	</style>
</head>

<body style=" background:#ECF0F1; margin:30px 0px;">

<table style="width:50%; min-width: 300px; margin:0px auto; border: 10px solid #e27b52; background:#E4E3E1;  border-collapse: collapse;">
<!-- <tr>
<td>
 {% load static %}
 <table align="left" style="width: 100%; margin-bottom: 0px;"><img class="res" style="max-width:100%;height:auto; width:100%;" img src="{% static 'cl_app/static/app.jpg' %}">
</table></td>
</tr>
<tr>
<td>

</td>
</tr> -->
<tr>
<td>
<table align="left" style="width: 100%">
	<div class="contentEditableContainer contentTextEditable">
		<div class="contentEditable" align='left' >
			<br>
			<p style="color: #000000;font-family: Helvetica,Arial,sans-serif; font-size: 13px;line-height:25px; margin: 0 10%;" >Dear <strong>Customer</strong>,
			</p>
			<br/>
			<p style="color: #000000;font-family: Helvetica,Arial,sans-serif; font-size: 13px;line-height:25px; margin: 0 10%;" >
				{{ textmessage }}</p>
			
			<br><br>
			<p style="color: #000000;font-family: Helvetica,Arial,sans-serif; font-size: 13px;margin: 0 10%;">
			Warm regards,<br>
			{{ client_name }}
			</p>

		</div>
	</div>
</table>
</td>
</tr>
<tr>
<td class="footer" style=" border-top:1px solid #e27b52; padding:10px 0px; margin-top:15%; display:block">
<p style="font-size:11px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;text-align: center;">Thank you..! Visit Again...!</p>
</td>
</tr>
</table>

</body>
</html>
